@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header__inner {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  @extend %rubik-500;
  font-size: 36px;
  color: #436372;
  display: flex;

  &__img {
    padding-left: 20px;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    padding-left: 35px;
  }

  &__list-link {
    @extend %rubik-500;
    color: #436372;
  }
}

.user__nav {
  display: flex;

  &-search {
    width: 50px;
    height: 50px;
    background-color: #edf1f4;
    border-radius: 50%;
  }

  &-img {
    margin: 15px auto;
  }

  &-link {
    padding: 0 35px;
    position: relative;
  }

  &-link--line::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 32px;
    top: 5px;
    background-color: #fde7d3;
    right: 0;
  }

  &-content {
    display: flex;
    margin: 0 30px;
    width: 180px;
    height: 50px;
    background-color: #fcd7b6;
    border-radius: 30px;
    text-align: center;
    align-items: center;
  }

  &-num {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
    top: 10px;
    right: 25px;

  }

  &-burger {
    display: flex;
    width: 50px;
    height: 50px;
    background-color: #a3bbc8;
    border-radius: 50%;
  }

  &-img__burger {
    margin: 14px 15px;
  }
}

.top-slider {
  background-color: #fcd7b6;
  margin-top: 55px;

  &__item {
    display: flex !important;
    justify-content: space-between;
  }

  &__content {
    padding-top: 140px;
  }

  &__content-title {
    color: #243f4d;
    font-size: 68px;
    @extend %rubik-500;
    max-width: 400px;
    padding-bottom: 35px;
  }

  &__content-text {
    color: #436372;
    font-size: 18px;
    line-height: 30px;
    max-width: 335px;
    padding-bottom: 45px;
  }

  &__btn {
    border: none;
    background-color: #a3bbc8;
  }

  &__btn-link {
    color: #fff;
    @extend %rubik-500;
    padding: 15px 100px 15px 15px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url(../images/icon/arrows-top-slider-btn.svg);
      width: 22px;
      height: 9px;
      right: 12px;
      top: 19px;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    padding-bottom: 45px;
    padding-left: 10px;

    li+li {
      padding-left: 10px;
    }

    button {
      background-color: #fde3cc;
      border: none;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      position: relative;
    }

    .slick-active {
      button {
        background-color: #fff;

        &::before {
          background-color: #fff;
        }
      }
    }

  }
}

.support {
  background-color: #fef7f0;
  height: 175px;
}

.support-inner {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;

  &__title {
    @extend %dmsans-700;
    font-size: 18px;
    color: #414141;
    padding-bottom: 10px;
  }

  &__text {
    @extend %rubik-400;
    color: #585858;
    line-height: 33px;
  }

  &__schedule {
    max-width: 195px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/icon/hours.svg);
      background-size: cover;
      background-repeat: no-repeat;
      width: 65px;
      height: 67px;
      left: -76px;
    }
  }

  &__delivery {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/icon/delivery.svg);
      background-size: cover;
      background-repeat: no-repeat;
      width: 100px;
      height: 67px;
      left: -111px;
    }
  }

  &__payment {
    max-width: 200px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/icon/payment.svg);
      background-size: cover;
      background-repeat: no-repeat;
      width: 69px;
      height: 67px;
      left: -80px;
    }
  }
}

.products-inner {
  padding-bottom: 50px;
}

.products-item {
  display: flex;
  justify-content: center;

  &__title {
    text-align: center;
    font-size: 36px;
    color: #191919;
    @extend %dmsans-700;
    padding: 70px 0 30px;
  }

  &__btn+.products-item__btn {
    margin-left: 30px;
  }

  &__content-inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 25px 35px;
    padding-top: 75px;
  }

  &__content {
    text-align: center;
    position: relative;
    max-width: 270px;
    height: 370px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

    &:hover {
      .products-item__icon {
        position: absolute;
        display: flex;
        justify-content: space-between;
        bottom: 122px;
        left: 21px;
        transition: all .3s;
      }
    }
  }

  &__content-img {
    position: absolute;
    bottom: 119px;
    left: 27px;
  }

  &__icon {
    display: none;
  }

  &__link {
    height: 45px;
    width: 55px;
    border-radius: 50%;
    background-color: #fff;

    svg {
      margin: 13px auto;
    }

    &:hover {
      path {
        fill: #fff;
      }

      background-color: #a3bbc8;
    }
  }

  &__content-info {
    position: absolute;
    bottom: 36px;
    left: 72px;

  }

  &__content-title {
    padding-bottom: 10px;
    color: #243f4d;
    @extend %dmsans-500;
    font-size: 16px;
  }

  &__content-price {
    color: #a3bbc8;
    @extend %dmsans-700;
    font-size: 16px;
  }
}

.decor {
  &-inner {
    display: flex;
    justify-content: space-between;
  }

  &-item {
    background-color: #feefe2;
    max-width: 550px;
    height: 320px;
    margin-top: 150px;
    display: flex;
    justify-content: space-evenly;
  }

  &-item__img {
    transform: translateY(-100px);
  }

  &-item__content {
    padding-top: 65px;
    padding-left: 15px;
  }

  &-item__title {
    color: #243f4d;
    font-size: 26px;
    @extend %dmsans-700;
    max-width: 350px;
  }

  &-item__text {
    color: #243f4d;
    @extend %rubik-400;
    padding: 20px 0;
    line-height: 35px;
  }

  &-item__link {
    font-size: 15px;
    color: #436372;
    @extend %rubik-500;
    max-width: 180px;
    padding: 25px 80px 25px 15px;
    border: 1px solid #b3b7b5;
    border-radius: 10px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url(../images/icon/arrows-right-decor.svg);
      right: 15px;
      top: 29px;
      width: 22px;
      height: 9px;
    }
  }
}

.design-filter {
  display: flex;
  justify-content: center;

  &__btn+.design-filter__btn {
    margin-left: 30px;
  }
}

.design-item {
  position: relative;

  &__content {
    position: absolute;
    top: 35px;
    left: 35px;
    max-width: 175px;
  }

  &__title {
    font-size: 20px;
    @extend %dmsans-700;
    color: #191919;
    line-height: 30px;
    padding-bottom: 10px;
  }

  &__text {
    @extend %dmsans-700;
    color: #a3bbc8;
  }
}

.design-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px 35px;
  padding-top: 75px;
}

.popup {
  &-item {
    margin-top: 130px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 500px;
    position: relative;
  }

  &-item__link {
    position: absolute;
    top: 180px;
    right: 596px;
  }
}

.container-popup {
  max-width: 100%;
}

.articles {
  background-color: #fef7f0;
  height: 430px;

  &-wrapper {
    margin: 400px 0 250px;
    transform: translateY(-336px);
  }

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0 45px;
  }

  &-title {
    font-size: 36px;
    @extend %dmsans-700;
    color: #191919;
  }

  &-link {
    @extend %dmsans-700;
    color: #191919;
    position: relative;
    padding-right: 26px;

    &::after {
      content: '>';
      position: absolute;
      color: #262626;
      top: 0;
      right: 0;
    }
  }

  &-inner {
    display: flex;
    justify-content: space-between;
  }

  &-item {
    background-color: #fff;
  }

  &-item__link-img {
    position: relative;
  }

  &-item__content {
    min-height: 112px;
    border-bottom: 2px solid #e0e0e0;
  }

  &-item__link-news {
    padding: 10px 30px;
    max-width: 100px;
    background-color: #a3bbc8;
    border-radius: 20px;
    color: #fff;
    @extend %poppins-700;
    position: absolute;
    bottom: -18px;
    left: 28px;
    text-transform: uppercase;
  }

  &-item__text {
    padding: 30px 56px 15px 30px;
    max-width: 370px;
    @extend %dmsans-500;
    font-size: 18px;
    color: #262626;
  }

  &-item__info {
    display: flex;
    padding: 15px 0 15px 30px;

    p {
      font-size: 12px;
      @extend %rubik-400;
      color: #222933;
      padding-right: 30px;
      text-transform: uppercase;
    }
  }

  &__login-page {
    height: 240px;
    margin-top: 115px;
  }
}

.partners {
  display: flex;
  justify-content: space-around;
  padding: 90px 0 80px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 85px 0;
  border-bottom: 1px solid #dae4e9;

  &__item {
    max-width: 200px;
    margin-right: 100px;
  }

  &__adress,
  &__phone,
  &__mail,
  &__services-link,
  &__text {
    color: $text-link;
    @extend %rubik-400;
    font-size: 14px;
    padding-top: 20px;
  }

  &__nav {
    max-width: 100px;
  }

  &__services-title {
    @extend %dmsans-700;
    font-size: 16px;
    line-height: 22px;
    color: #1f2044;
    padding-bottom: 20px;
  }

  &__text {
    max-width: 240px;
    padding-bottom: 30px;
  }

  &__form-input {
    max-width: 170px;
    width: 100%;
    border: none;
    background-color: #fef7f0;
    padding: 12px;

    &::placeholder {
      color: #234969;
      font-size: 12px;
    }
  }

  &__form-btn {
    max-width: 100px;
    background-color: rgb(163, 187, 200);
    padding: 12px 20px;
    font-size: 14px;
    color: #fff;
  }

}



.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;

  &__copy {
    font-size: 14px;
    color: $text-link;
    padding-top: 30px;
  }

  &__link-home {
    padding: 0 15px;
    color: $text-link;
    font-size: 14px;
  }

  &__link-about,
  &__link-blog,
  &__link-contact {
    padding: 0 15px;
    border-left: 2px solid $text-link;
    color: $text-link;
    font-size: 14px;
  }

  &__link-contact {
    padding-right: 0;
  }

  &__item {
    display: flex;
    padding-top: 30px;

  }
}

.top {
  background-color: #edf1f4;
  width: 100%;
  display: flex;
  text-align: center;
  margin: 55px 0 100px;

  &__title {
    padding: 25px 0;
  }

  &__title-text {
    padding-bottom: 10px;
    font-size: 36px;
    @extend %rubik-300;
    color: #222933;
  }
}

.login {
  padding-top: 110px;
  max-width: 475px;
  margin: 0 auto;

  &__form {
    padding-bottom: 30px;
    border-bottom: 2px solid #f6f6f6;
  }

  &__descr {
    display: block;
    font-size: 14px;
    @extend %rubik-400;
    color: #436372;
  }

  &__input {
    display: block;
    margin: 15px 0 27px;
    border: 2px solid #f6f6f6;
    width: 100%;
    padding: 20px 0;
  }

  &__btn {
    width: 100%;
    border: none;
    background-color: #a3bbc8;
    font-size: 18px;
    @extend %rubik-500;
    color: #fffefe;
    padding: 22px 0;
    margin-bottom: 30px;
  }

  &__password-error {
    display: block;
    text-align: right;
    transform: translateY(-18px);
    font-size: 14px;
    color: #436372;
    @extend %rubik-400;
  }
}

.new-account {
  &__text {
    margin: 30px 0 20px;
    text-align: center;
    font-size: 14px;
    color: #436372;
    @extend %rubik-400;
  }

  &__btn {
    display: block;
    width: 100%;
    border: 2px solid #a3bbc8;
    text-align: center;
    font-size: 18px;
    @extend %rubik-500;
    color: #243f4d;
    padding: 20px 0;
    background-color: #fff;
  }
}

.terms {
  &__title {
    font-size: 24px;
    @extend %rubik-500;
    color: #243f4d;
    margin: 45px 0 35px;
  }

  &__item {
    list-style-type: decimal-leading-zero;
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    @extend %rubik-400;
    padding-bottom: 25px;
    padding-left: 40px;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    @extend %rubik-400;
  }
}


.about {
  margin-bottom: 100px;

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-info__img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
  }

  &-info__top {
    margin-bottom: 30px;
  }

  &-info__content {
    max-width: 524px;
    margin-left: 55px;
  }

  &-info__years {
    display: flex;
    align-items: center;
    max-width: 50px;
    margin-bottom: 40px;
  }

  &-info__top-title {
    font-size: 140px;
    @extend %rubik-700;
    color: #a3bbc8;
    margin-right: 45px;
  }

  &-info__top-descr {
    font-size: 16px;
    @extend %rubik-400;
    color: #243f4d;
    line-height: 30px;
  }

  &-info__title {
    font-size: 36px;
    @extend %dmsans-700;
    color: #243f4d;
    margin-bottom: 48px;
  }

  &-info__text {
    font-size: 16px;
    @extend %rubik-400;
    color: #243f4d;
    padding-bottom: 60px;
    border-bottom: 2px solid #fafbfc;
  }

  &-info__bottom {
    display: flex;
    justify-content: space-between;
  }

  &-info__projects {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/icon/list-icon.svg');
      width: 36px;
      height: 37px;
      top: 10px;
      left: 0;
    }
  }

  &-info__revenue {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/icon/speaker-icon.svg');
      width: 38px;
      height: 39px;
      top: 10px;
      left: 0;
    }
  }

  &-info__awards {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/icon/awards-icon.svg');
      width: 42px;
      height: 40px;
      top: 10px;
      left: 0;
    }
  }

  &-info__bottom-title {
    text-align: left;
    font-size: 36px;
    @extend %dmsans-700;
    color: #243f4d;
    padding-bottom: 12px;
    padding-left: 50px;
  }

  &-info__bottom-text {
    font-size: 16px;
    color: #4c4c4c;
    @extend %dmsans-700;
  }
}

.about-support {
  background-color: #fcd7b6;
  width: 100%;

  &__inner {
    padding: 85px 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
  }

  &__img {
    height: 60px;
    margin: 0 auto;
    align-items: center;
  }

  &__title {
    font-size: 36px;
    @extend %dmsans-700;
    color: #243f4d;
    margin: 25px 0;
  }

  &__text {
    font-size: 18px;
    @extend %dmsans-700;
    color: #243f4d;
  }
}

.team {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 110px;
  }

  &__content {
    max-width: 300px;
    margin-right: 100px;
  }

  &__title {
    font-size: 36px;
    @extend %dmsans-700;
    color: #243f4d;
    margin-bottom: 25px;
  }

  &__text {
    font-size: 16px;
    line-height: 30px;
    @extend %rubik-400;
    color: #243f4d;
    margin-bottom: 50px;
  }

  &__btn {
    width: 200px;
    padding: 19px 60px 19px 25px;
    background-color: #a3bbc8;
    font-size: 15px;
    @extend %poppins-600;
    color: #fff;
    position: relative;

    &::after {
      content: '';
      background-image: url('../images/icon/arrows-top-slider-btn.svg');
      position: absolute;
      width: 22px;
      height: 9px;
      top: 23px;
      right: 18px;
    }
  }

  &__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px 25px;
  }

  &__manager-img {
    object-fit: cover;
    width: 360px;
    height: 320px;
  }

  &__manager-contact {
    max-width: 325px;
    height: 110px;
    background-color: #fff;
    transform: translateY(-50px);
    box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
    position: relative;
  }

  &__manager-title {
    font-size: 22px;
    @extend %dmsans-700;
    color: #436372;
    padding: 30px 0 15px 23px;
  }

  &__manager-descr {
    font-size: 16px;
    @extend %rubik-400;
    color: #565872;
    padding-left: 23px;
  }

  &__manager-insta {
    position: absolute;
    right: 100px;
    top: 40px;
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border-radius: 100%;
    cursor: pointer;
  }

  &__manager-insta__icon {
    margin: 10px auto;
  }

  &__manager-gplus {
    position: absolute;
    right: 50px;
    top: 40px;
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border-radius: 100%;
    cursor: pointer;
  }

  &__manager-gplus__icon {
    margin: 13px auto;
  }
}

.contact {
  margin-top: 115px;

  &__subtitle {
    @extend %poppins-700;
    color: #a3bbc8;
    margin-bottom: 15px;
    text-align: center;
  }

  &__title {
    font-size: 37px;
    line-height: 57px;
    color: #436372;
    @extend %dmsans-700;
    margin-bottom: 70px;
    text-align: center;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 110px;
  }

  &__item {
    background-color: #fbfbfb;
    width: 100%;
    height: 370px;
    text-align: center;
  }

  &__item+.contact__item {
    margin-left: 35px;
  }

  &__item-img {
    margin: 70px auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 16px;

    path {
      fill: #a3bbc8;
    }
  }

  &__item {
    transition: all .3s;

    &:hover {
      border: 2px solid #a3bbc8;

      .contact__item-img {
        background-color: #a3bbc8;

        path {
          fill: #ffffff;
        }
      }
    }
  }

  &__item-title {
    font-size: 20px;
    line-height: 26px;
    color: #222222;
    @extend %dmsans-700;
    margin-bottom: 10px;
  }

  &__item-adres {
    line-height: 30px;
    color: #565872;
    @extend %rubik-400;
    max-width: 170px;
    margin-bottom: 60px;
    margin: 0 auto;
  }

  &__item-mail {
    line-height: 30px;
    color: #565872;
    @extend %rubik-400;
    max-width: 268px;
    margin-bottom: 60px;
    margin: 0 auto;
  }

  &__item-phone {
    line-height: 30px;
    @extend %rubik-400;
    max-width: 268px;
    margin-bottom: 60px;
    margin: 0 auto;

    a {
      color: #565872;
    }
  }

  &-form__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &-form__input {
    display: flex;
    margin-bottom: 25px;
  }

  &-form__name {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/icon/name-icon.svg');
      top: 22px;
      right: 40px;
      width: 14px;
      height: 13px;
    }
  }

  &-form__input-name {
    margin-right: 20px;
    background-color: #fafafa;
    padding: 20px 65px 20px 10px;
    border: none;
  }

  &-form__email {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/icon/mail-icon.svg');
      top: 22px;
      right: 40px;
      width: 18px;
      height: 12px;
    }
  }

  &-form__input-email {
    background-color: #fafafa;
    padding: 20px 65px 20px 10px;
    border: none;
  }

  &-form__textarea {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/icon/message-icon.svg');
      top: 22px;
      right: 40px;
      width: 18px;
      height: 15px;
    }
  }

  &-form__input-textarea {
    width: 100%;
    resize: none;
    height: 170px;
    background-color: #fafafa;
    padding: 20px 65px 20px 10px;
    border: none;
    margin-bottom: 25px;
  }

  &-form__btn {
    padding: 15px 40px;
    background-color: #a3bbc8;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    @extend %poppins-600;
    color: #fff;
  }

}

.blog-detalis {
  &__wrapper{
    display: flex;
  }
  &__content {
    max-width: 830px;
    margin-right: 70px;
  }

  &__img {
    object-fit: cover;
    width: 830px;
    height: 500px;
  }

  &__info-top {
    background-color: #a3bbc8;
    max-width: 280px;
    transform: translateY(-58px);
  }

  &__info-box {
    padding: 20px;

    span {
      color: #fff;
      font-size: 10px;
      @extend %rubik-300;
    }
  }

  &__info-link {
    color: #fff;
    font-size: 10px;
    @extend %rubik-300;
    display: inline-block;
    padding-left: 30px;
  }

  &__title {
    font-size: 36px;
    color: #333333;
    @extend %rubik-400;
    margin-top: -25px;
    margin-bottom: 30px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 30px;
    color: #243f4d;
    @extend %rubik-700;
    margin-bottom: 25px;
  }

  &__text {
    line-height: 30px;
    color: #565872;
    @extend %rubik-400;
    max-width: 800px;
  }

  &__text-top {
    color: #243f4d;
  }

  &__blockquote {
    margin: 35px 0;
    border-left: 3px solid #a3bbc8;
    background-color: #edf1f4;
    padding-top: 30px;
  }

  &__blockquote-text {
    line-height: 30px;
    color: #243f4d;
    @extend %rubik-400;
    max-width: 690px;
    padding-left: 35px;
    margin-bottom: 20px;
  }

  &__blockquote-author {
    color: #243f4d;
    @extend %rubik-400;
    padding: 25px 90px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      background-image: url('../images/icon/blockquote.svg');
      height: 3px;
      width: 20px;
      top: 32px;
      left: 36px;
    }
  }

  &__info {
    height: 220px;
    margin-bottom: 35px;
  }

  &__info-img {
    object-fit: cover;
    width: 320px;
    height: 220px;
    float: left;
    margin-right: 30px;
  }

  &__subtitle-blockquote {
    padding-top: 35px;
  }

  &__author-wrapper {
    margin-top: 50px;
    padding: 25px 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    display: flex;
  }

  &__author-img {
    object-fit: cover;
    width: 80px;
    height: 80px;
    margin-right: 25px;
  }

  &__author-item {
    padding: 15px 0;
  }

  &__author-name {
    display: inline-block;
    margin-right: 360px;
    font-size: 18px;
    color: #333333;
    @extend %rubik-500;
    margin-bottom: 15px;
  }

  &__author-tags {
    display: inline-block;
    color: #999999;
    @extend %rubik-400;
    margin-left: 10px;
    transition: all .3s;

    &:hover {
      color: #e91313;
    }
  }

  &__author-prof {
    color: #666666;
    @extend %rubik-400;
    display: inline-block;
    margin-right: 453px;
  }

  &__author-share {
    display: inline-block;

    path {
      fill: #999999;
    }

    &:hover {
      path {
        fill: #e91313;
      }
    }
  }

  &__author-share+.blog-detalis__author-share {
    margin-left: 8px;
  }

  &__comments {
    margin-top: 50px;
  }

  &__comments-title {
    font-size: 24px;
    color: #436372;
    @extend %rubik-700;
    margin-bottom: 50px;
  }

  &__comments-item {
    display: flex;
    margin-bottom: 35px;
  }

  &__comments-img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    margin-right: 25px;
  }

  &__comments-name{
    color: #436372;
    @extend %rubik-700;
  }

  &__comments-date {
    text-align: end;
    transform: translateY(-16px);
    font-size: 14px;
    color: #9e9e9e;
    @extend %rubik-400;
  }
  &__comments-text{
    line-height: 30px;
    color: #565872;
    @extend %rubik-400;
    margin-bottom: 20px;
  }
  &__comments-reply{
    font-size: 14px;
    color: #565872;
    @extend %rubik-700;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/icon/arrows-right-decor.svg');
      top: 4px;
      left: 48px;
      width: 22px;
      height: 9px;
    }
  }
  &__comments-answer{
    max-width: 710px;
    padding: 30px 0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin-left: 131px;
  }
  &__input-name,
  &__input-email{
    width: 405px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
  }
  &__input-textarea{
    background-color: #fff;
    border: 1px solid #e5e5e5;
  }
  &__search-inner{
    display: flex;
    margin-bottom: 40px;
  }
  &__search{
    border: 1px solid #edf1f4;
    max-width: 220px;
    height: 40px;
  }
  &__search-btn{
    background-color: #edf1f4;
    width: 45px;
    height: 40px;
    border: none;
    img{
      display: inline-flex;
    }
  }
  &__category-title{
    text-transform: uppercase;
    font-size: 18px;
    color: #243f4d;
    @extend %dmsans-700;
    margin-bottom: 25px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/icon/blockquote.svg');
      height: 2px;
      width: 40px;
      top: 8px;
      left: 118px;
    }
  }
  &__category-form{
    margin-bottom: 40px;
  }
  &__category-filter{
    margin-bottom: 5px;
    display: block;
    cursor: pointer;
  }
  &__category-input{
    @extend %checkbox-hidden;
    &:checked+.blog-detalis__category-content{
      background-color: #edf1f4;
    }
  }
  &__category-content{
    color: #243f4d;
    @extend %rubik-400;
    padding: 15px 200px 15px 15px;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/icon/arrows-right-decor.svg');
      width: 22px;
      height: 9px;
      top: 20px;
      right: 25px;
    }
  }
  &__recomended-title{
    margin-bottom: 50px;
    &::after{
      left: 160px;
    }
  }
  &__recomended-item{
    display: flex;
    margin-bottom: 20px;
    max-width: 255px;
  }
  &__recomended-img{
    object-fit: cover;
    width: 71px;
    height: 71px;
    margin-right: 20px;
  }
  &__recomended-text{
    font-size: 15px;
    line-height: 20px;
    color: #333333;
    @extend %rubik-400;
    margin-bottom: 14px;
  }
  &__recomended-date{
    font-size: 14px;
    color: #9e9e9e;
    @extend %rubik-400;
  }
}
  .blog{
    &-content__wrapper{
      display: flex;
    }
    &-content{
      margin-right: 70px;
    }
    &-content__item{
      max-width: 830px;
    }
    &-content__btn{
      width: 180px;
      font-size: 14px;
      color: #a3bbc8;
      @extend %rubik-400;
      padding: 15px 60px 15px 15px;
      border: 1px solid #a3bbc8;
      margin-bottom: 50px;
      cursor: pointer;
      position: relative;
      &::after{
        content: '';
        position: absolute;
        background-image: url('../images/icon/arrows-right-decor.svg');
        width: 22px;
        height: 9px;
        top: 19px;
        right: 28px;
      }
    }
    &-pagination{
      display: flex;
    }
    &-pagination__list{
      display: flex;
    }
    &-pagination__item-link{
      color: #243f4d;
      @extend %rubik-400;
      padding: 13px;
      border: 1px solid #a3bbc8;
      margin-left: 15px;
      cursor: pointer;
      &:first-child{
        margin-left: 0;
      }
      &:last-child{
        margin-right: 15px;
      }
    }
    &-pagination__item-link--active{
      background-color: #a3bbc8;
      color: #fff;
    }
    &-pagination__next-link{
      color: #243f4d;
      @extend %rubik-400;
      padding: 13px;
      border: 1px solid #a3bbc8;
      cursor: pointer
    }
  }




@import 'media';